/* Small devices such as large phones 640px and below) */

.login-page {
  width: 100%;
}

.login-page-container {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding: 1rem;
  border-radius: 0.2rem;
}

.login-page-title {
  text-align: center;
  color: green;
  font-size: 1.4rem;
  padding: 1rem 0;
  text-transform: uppercase;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
}

.login-image-container {
}

.login-image {
  width: 15rem;
}

.login-form {
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  padding: 1rem;
  border-radius: 0.2rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.input-icon {
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  font-size: 1.2rem;
  color: green;
}

.input-field {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 1.2rem;
  line-height: 1.2rem;
  color: black;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid green;
  border-radius: 0.2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-field:focus {
  outline: 0;
}

.input-label {
  position: absolute;
  top: 0;
  left: 2rem;
  color: #cccccc00;
}

.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: orange;
  transition: all 0.3s ease;
}

.input-field:focus + .input-label {
  top: -0.2rem;
  font-size: 1rem;
  color: gray;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}

.consent-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  margin: 1rem 0;
}

.consent-input {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

.accept {
  font-size: 1.2rem;
}

.terms-of-use {
  font-size: 1.2rem;
  color: blue;
  text-decoration: none;

  &:hover {
    color: red;
  }
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(
    to top,
    #d8d9db 0%,
    white 80%,
    #fdfdfd 100%
  );
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px white;

  &:hover {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
      0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
    color: red;
  }

  &:active {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
      0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }

  &:focus {
    box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
      0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
}

.have-account {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.link-to-login {
  font-size: 1.2rem;
  color: blue;
  margin-bottom: 1rem;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: red;
  }
}

/* Medium devices such as tablets (768px and 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .login-page {
    width: 100%;
  }

  .login-page-container {
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    padding: 1rem;
    border-radius: 0.2rem;
    line-height: 1.5rem;
  }

  .login-page-title {
    text-align: center;
    color: green;
    font-size: 1.4rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  .fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: none;
  }

  .login-image-container {
  }

  .login-image {
    width: 20rem;
    height: 100%;
    object-fit: cover;
  }

  .login-form {
    width: 90%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    padding: 1rem;
    border-radius: 0.2rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .input-icon {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 1.2rem;
    color: green;
  }

  .input-field {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 1.2rem;
    line-height: 1.2rem;
    color: black;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid green;
    border-radius: 0.2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .input-field:focus {
    outline: 0;
  }

  .input-label {
    position: absolute;
    top: 0;
    left: 2rem;
    color: #cccccc00;
  }

  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: orange;
    transition: all 0.3s ease;
  }

  .input-field:focus + .input-label {
    top: -0.2rem;
    font-size: 1rem;
    color: gray;
  }

  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
  }

  .consent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    margin: 1rem 0;
  }

  .consent-input {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
  }

  .accept {
    font-size: 1.2rem;
  }

  .terms-of-use {
    font-size: 1.2rem;
    color: blue;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }

  .login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(
      to top,
      #d8d9db 0%,
      white 80%,
      #fdfdfd 100%
    );
    border-radius: 30px;
    border: 1px solid #8f9092;
    transition: all 0.2s ease;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px white;

    &:hover {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
      color: red;
    }

    &:active {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }

    &:focus {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
  }

  .have-account {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .link-to-login {
    font-size: 1.2rem;
    color: blue;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }
}

/* Large devices such as laptops (1024px and 1280px) */
@media only screen and (min-width: 64em) and (max-width: 80em) {
  .login-page {
    width: 100%;
  }

  .login-page-container {
    width: 90%;
    margin: 1rem auto;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    padding: 1rem;
    border-radius: 0.2rem;
    line-height: 1.5rem;
  }

  .login-page-title {
    text-align: center;
    color: green;
    font-size: 1.4rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  .fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: none;
  }

  .login-image-container {
  }

  .login-image {
  }

  .login-form {
    width: 90%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    padding: 1rem;
    border-radius: 0.2rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .input-icon {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 1.2rem;
    color: green;
  }

  .input-field {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 1.2rem;
    line-height: 1.2rem;
    color: black;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid green;
    border-radius: 0.2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .input-field:focus {
    outline: 0;
  }

  .input-label {
    position: absolute;
    top: 0;
    left: 2rem;
    color: #cccccc00;
  }

  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: orange;
    transition: all 0.3s ease;
  }

  .input-field:focus + .input-label {
    top: -0.2rem;
    font-size: 1rem;
    color: gray;
  }

  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
  }

  .consent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    margin: 1rem 0;
  }

  .consent-input {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
  }

  .accept {
    font-size: 1.2rem;
  }

  .terms-of-use {
    font-size: 1.2rem;
    color: blue;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }

  .login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(
      to top,
      #d8d9db 0%,
      white 80%,
      #fdfdfd 100%
    );
    border-radius: 30px;
    border: 1px solid #8f9092;
    transition: all 0.2s ease;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px white;

    &:hover {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
      color: red;
    }

    &:active {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }

    &:focus {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
  }

  .have-account {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .link-to-login {
    font-size: 1.2rem;
    color: blue;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  .login-page {
    width: 100%;
  }

  .login-page-container {
    width: 90%;
    margin: 1rem auto;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    padding: 1rem;
    border-radius: 0.2rem;
    line-height: 1.5rem;
  }

  .login-page-title {
    text-align: center;
    color: green;
    font-size: 1.4rem;
    padding: 1rem 0;
    text-transform: uppercase;
  }

  .fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: none;
  }

  .login-image-container {
  }

  .login-image {
  }

  .login-form {
    width: 90%;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    padding: 1rem;
    border-radius: 0.2rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input-container {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .input-icon {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    font-size: 1.2rem;
    color: green;
  }

  .input-field {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 1.2rem;
    line-height: 1.2rem;
    color: black;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid green;
    border-radius: 0.2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .input-field:focus {
    outline: 0;
  }

  .input-label {
    position: absolute;
    top: 0;
    left: 2rem;
    color: #cccccc00;
  }

  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color: orange;
    transition: all 0.3s ease;
  }

  .input-field:focus + .input-label {
    top: -0.2rem;
    font-size: 1rem;
    color: gray;
  }

  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
  }

  .consent-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    margin: 1rem 0;
  }

  .consent-input {
    width: 1.4rem;
    height: 1.4rem;
    cursor: pointer;
  }

  .accept {
    font-size: 1.2rem;
  }

  .terms-of-use {
    font-size: 1.2rem;
    color: blue;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }

  .login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(
      to top,
      #d8d9db 0%,
      white 80%,
      #fdfdfd 100%
    );
    border-radius: 30px;
    border: 1px solid #8f9092;
    transition: all 0.2s ease;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px white;

    &:hover {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
      color: red;
    }

    &:active {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }

    &:focus {
      box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
        0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
  }

  .have-account {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .link-to-login {
    font-size: 1.2rem;
    color: blue;
    margin-bottom: 1rem;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }
}
