*{
    padding:0;
    margin:0;
}

.container{
    width:100%;
    height: 100vh;
}

.banner{
    
    width:100%;
    height:80vh;
    background-image: url(images/growing_plant.jpg);
    background-size: cover;
    background-position: 100%;
    margin-top: 100px;
    
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    

  }
  h2{
    color:rgb(141, 120, 120);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
.type-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:center;
    margin: 15px auto;

  }

.gellary{
    display:flex;
    width:100%;
    justify-content: center;
 
   }

  .gellary img{
    height:110px;
    width:230px;
    object-fit:cover;  
    padding:10px;
    
  }

  .plantening{
    width: 650px;
    height: 365px; 
    text-align: center;
    margin: 30px auto; 
  }
  