@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Fira+Sans:wght@200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
}

/* Top header styling */
.logo-and-account-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #e6e6fa;
}

.logo-container {
}

.logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.account-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.account {
}

.acount-link:hover {
  color: #ff6347;
}

/* Middle header styling */

.plants-and-search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #b0c4de;
}

.logo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.plant-image {
}

.search-form {
  position: relative;
  font-size: 14px;
  font-family: arial, sans-serif;
  display: flex;
  align-items: center;
  z-index: 3;
  height: 44px;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  max-width: 100%;
}

.search-form:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.search-icon {
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: green;
}

.input-field {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
  padding: 0 0 0 2rem;

  &::placeholder {
    padding-left: 0.5rem;
  }
}

.voice-search {
  font-size: 1.6rem;
  margin-right: 0.5rem;
  color: green;
  cursor: pointer;
}

.search-btn {
}

.plant-container {
}

.plant-image {
  width: 15rem;
  height: 8rem;
  border-radius: 2px;
  object-fit: cover;
}

/* Button header styling */

.navbar-categories-and-language-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #9fafdf;
}

.categories {
}

.navbar-items {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.navbar-item {
}

.navbar-item-link:hover {
  color: #ff6347;
}

.language:hover {
  color: #ff6347;
}

/* Footer styling */
.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  background-color: #00008b;
}

.mapping-and-social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
}

.footer-title {
  color: #ffffff;
  margin: 1rem 0g;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-item {
}

.footer-icon {
  color: white;
  cursor: pointer;
}

.footer-item-link {
  color: #ffffff;
}

.copyrights-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #e6e6fa;
}

.copyrights {
}

.logo-container {
}

.log-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}
