.subscribe-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subscribe-container .header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans';
}

.pricing-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Add this line to allow cards to wrap */
}

.subscribe-card {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    width: calc(33.33% - 20px); /* Adjust card width */
}

.subscribe-card img {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}

.subscribe-card h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.subscribe-card p {
    font-size: 18px;
    font-family: 'Lucida Sans';
    font-style: oblique;
    color: #333;
}

@media only screen and (max-width: 768px) {
    .subscribe-card {
        width: calc(50% - 20px); 
    }
}

label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
select {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #009900;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}