.subscribe-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
}

.subscribe-containers {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
    
}
.subscribe-containers form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background-color: #88e580;
    padding: 20px;
    font-style: oblique;
    border: 4px solid #cfff76;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.subscribe-container .header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: seagreen;
}

.pricing-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Add this line to allow cards to wrap */
}

.subscribe-card {
    flex: 1;
    padding: 20px;
    background-color: #88e580;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px 10px 10px 10px;
    width: calc(33.33% - 20px); /* Adjust card width */
}

.subscribe-card img {
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
}

.subscribe-card h2 {
    color: rgb(230, 255, 234);
    font-size: 36px;
    margin-bottom: 10px;
}

.subscribe-card p {
    font-size: 18px;
    font-family: 'Lucida Sans';
    font-style: oblique;
    color: rgb(230, 255, 234);
}

@media only screen and (max-width: 768px) {
    .subscribe-card {
        width: calc(50% - 20px); 
    }
}

form label {
    display: block;
    margin-bottom: 10px;
}
form input[type="text"],
form input[type="email"],
form input[type="number"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
form select {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
form input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #32bd32;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}

.subscribe-containers form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 100%;
    background-color: #88e580;
    padding: 20px;
    font-style: oblique;
    border: 4px solid #cfff76;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }


form2 label {
    display: block;
    margin-bottom: 10px;
}
form2 input[type="text"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="text"]#message {
    width: 80%;
    height: 100px;
  }
form2 input[type="email"],
form2 input[type="number"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
form2 select {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
form2 input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #32bd32;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
form2 input[type="submit"]:hover {
    background-color: #0056b3;
}